
# .gitignore
test.py
# Папки виртуальных сред
.venv/
env/
envs/

# Файлы PyCharm
.idea/

# Логи
*.log

# Кэшированные файлы Python
__pycache__/
*.pyc
*.pyo

.postgres
.env

# Миграции (если используешь Alembic)
migrations/

# Для Docker (если используешь)
*.dockerignore
docker-compose.override.yml

# Игнорируем файлы Docker
Dockerfile
docker-compose.yml
.dockerignore
*.dockerfile